* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.calc-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.display-container {
    width: 512px;
    border-left: 4px rgb(46, 45, 45) solid;
    border-bottom: 4px rgb(46, 45, 45) solid;
    border-right: 4px rgb(104, 100, 100) solid;
    border-top: 4px rgb(104, 100, 100) solid;
}

.display {
    height: 128px;
    background-color: rgb(165, 160, 160);
    border: 16px rgb(68, 65, 65) solid;
}

.row {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 128px;
    height: 128px;
}

.lg-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 512px;
    height: 128px;
}

.color-style {
    color: aliceblue;
    font-size: 24px;
    font-weight: 900;

    background-color: rgb(68, 65, 65);
    border-left: 4px rgb(46, 45, 45) solid;
    border-bottom: 4px rgb(46, 45, 45) solid;
    border-right: 4px rgb(104, 100, 100) solid;
    border-top: 4px rgb(104, 100, 100) solid;
}